@use "../../utils/functions/" as *;
@use "../../utils/mixins" as *;

.works {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 32px;
    background-color: var(--color-dark-900);
  }

  h2 {
    margin-bottom: 62px;
  }

  h3 {
    margin-bottom: 17px;
    line-height: 1.3;
    color: var(--color-white);
  }

  p {
    margin-bottom: 32px;
    font-size: 16px;
  }

  .btn {
    margin-top: auto;
    min-width: 244px;
  }

  img {
    width: 100%;
    min-height: 330px;
  }

  @include media(tablet) {
    &__desc {
      padding: 16px;
    }

    h2 {
      margin-bottom: 30px;
    }
  }

  @include media(mobile-l) {
    &__list {
      grid-template-columns: 1fr;
    }

    &__desc {
      height: auto;
    }

    img {
      aspect-ratio: 2/1;
    }

    .btn {
      max-width: 100%;
    }
  }
}
