@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.hero {
  $root: &;

  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    left: clamp(5px, 4.7vw, 68px);
    background-image: url("../images/icons/hero.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 6px;
    height: 65%;
    z-index: 2;
    top: 50%;
    translate: 0 -50%;
  }

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 899px;

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5);
      inset: 0;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    padding-left: 38px;
    translate: 0 40px;

    p {
      width: 100%;
      max-width: 648px;
      font-size: clamp(16px, 1.0208rem + 0.463vi, 1.4375rem);
    }
  }

  h3 {
    width: 100%;
    max-width: 210px;
    font-weight: var(--fw-400);
    font-size: clamp(18px, 1.0208rem + 0.463vi, 23px);
    color: var(--color-white);
  }

  p {
    margin-bottom: rem(48);
  }

  .btn {
    min-width: 244px;
  }

  &__images {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 50%;
    translate: 0 -50%;
    display: flex;
    gap: 24px;
  }

  &__image {
    &:last-of-type {
      padding-top: 30px;
    }
  }

  &--news {
    &::before {
      content: none;
    }

    #{$root}__inner {
      min-height: 544px;
    }

    #{$root}__content {
      translate: none;
    }

    h1 {
      font-size: clamp(2.1875rem, 1.5833rem + 2.6852vi, 4rem);
    }

    p {
      margin-bottom: 0;
    }
  }

  @include media(desktop-m) {
    &::before {
      left: 16px;
    }

    &--home {
      #{$root}__content {
        p {
          max-width: 450px;
        }
      }
    }
  }

  @include media(tablet-wide) {
    &--home {
      #{$root}__content {
        translate: 0 -30%;

        p {
          max-width: 100%;
        }
      }
   

      #{$root}__images {
        translate: none;
        top: 65%;
        bottom: 0;

        img {
          aspect-ratio: 16/12;
        }
      }
    }
  }

  @include media(tablet) {
    &__inner {
      min-height: 450px;
    }

    &__content {
      padding-left: 18px;

      p {
        max-width: 100%;
        margin-bottom: 25px;
      }
    }

    &--home {

      &::before {
        top: 35%;
        height: 40%;
      }
      #{$root}__inner {
        min-height: 700px;
      }

      #{$root}__images {
        top: 60%;
        gap: 16px;
      }
    }

    &--news {
      #{$root}__inner {
        min-height: 400px;
      }
    }

    h3 {
      margin-bottom: 8px;
      font-size: 16px;
    }
  }

  @include media(mobile-m) {
    .btn {
      max-width: 100%;
    }

    &--home {
       #{$root}__images {
        padding: 0 16px 0 16px;
        top: 66%;
      }
    }
  }
}
