@use "../utils/functions/" as *;
@use "../utils/mixins" as *;

.policy {
  &__content {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  h1 {
    margin-bottom: 48px;
    font-size: clamp(35px, 1.1667rem + 2.5926vi, 56px);
    line-height: 1.4;
    text-align: center;
  }

  h2 {
    margin-bottom: 24px;
    font-size: clamp(25px, 1.0417rem + 0.9259vi, 30px);
    text-align: left;
  }

  h1,
  h2 {
    color: var(--color-blue-400);
  }

  ul {
    margin-bottom: 20px;
    padding-left: 15px;
  }

  li {
    padding-left: 10px;

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    &::marker {
      content: "✓";
      color: var(--color-blue-400);
    }
  }

  p {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  p,
  li {
    font-size: 20px;
    color: var(--color-dark-900);
  }

  a {
    text-decoration: underline;
    color: var(--color-blue-400);
  }

  @include media(tablet) {
    h1 {
      margin-bottom: 30px;
    }
  }
}
