@use "../utils/functions/" as *;
@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.reviews {
  &__title {
    margin-bottom: 60px;

    h2 {
      margin-bottom: 24px;
      font-size: clamp(1.25rem, 1rem + 1.1111vi, 2rem);
      line-height: 1.2;
      text-align: left;
      color: var(--color-blue-400);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &__author {
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 120px;
    gap: 7px;
  }

  li {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    padding: 30px 40px;
    background-color: var(--color-blue-100);
    gap: 40;

    p {
      font-size: 16px;
      color: var(--color-dark-900);
    }
  }

  h3 {
    margin-bottom: 0;
    font-size: 21px;
    text-align: center;
  }

  @include media(tablet) {
    &__title {
      margin-bottom: 30px;
    }

    &__author {
      margin: 0 auto;
      max-width: 100%;
    }

    li {
      grid-template-columns: 1fr;
      padding: 16px;
      gap: 25px;
    }
  }

  @include media(mobile-m) {
    &__list {
      grid-template-columns: 1fr;
    }
  }
}
